{
  "openapi": "3.0.3",
  "info": {
    "title": "Viva Flights Booking API",
    "description": "API de consulta de vuelos, tarifas, disponibilidad y confirmación de itinerarios.",
    "version": "1.8.0"
  },
  "servers": [
    {
      "url": "https://api.vivaaerobus.com/v1",
      "description": "API Gateway"
    }
  ],
  "paths": {
    "/flights/search": {
      "get": {
        "summary": "Búsqueda de vuelos y disponibilidad",
        "description": "Consulta vuelos directos y con conexión entre origen y destino para una fecha dada.",
        "operationId": "searchFlights",
        "tags": ["Flights"],
        "parameters": [
          {
            "name": "origin",
            "in": "query",
            "required": true,
            "description": "Código IATA del aeropuerto origen (ej. MTY)",
            "schema": { "type": "string", "example": "MTY" }
          },
          {
            "name": "destination",
            "in": "query",
            "required": true,
            "description": "Código IATA del aeropuerto destino (ej. MEX)",
            "schema": { "type": "string", "example": "MEX" }
          },
          {
            "name": "departureDate",
            "in": "query",
            "required": true,
            "description": "Fecha de salida en formato YYYY-MM-DD",
            "schema": { "type": "string", "format": "date", "example": "2026-09-15" }
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de vuelos encontrados",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlightSearchResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "FlightSearchResponse": {
        "type": "object",
        "required": ["origin", "destination", "flights"],
        "properties": {
          "origin": { "type": "string", "example": "MTY" },
          "destination": { "type": "string", "example": "MEX" },
          "flights": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FlightOffer"
            }
          }
        }
      },
      "FlightOffer": {
        "type": "object",
        "required": ["flightNumber", "departureTime", "arrivalTime", "baseFare"],
        "properties": {
          "flightNumber": { "type": "string", "example": "VB-1024" },
          "departureTime": { "type": "string", "format": "date-time" },
          "arrivalTime": { "type": "string", "format": "date-time" },
          "aircraft": { "type": "string", "example": "Airbus A321neo" },
          "baseFare": {
            "$ref": "#/components/schemas/FarePrice"
          }
        }
      },
      "FarePrice": {
        "type": "object",
        "required": ["currency", "amount"],
        "properties": {
          "currency": { "type": "string", "example": "MXN" },
          "amount": { "type": "number", "format": "float", "example": 1289.00 }
        }
      }
    }
  }
}
