openapi: 3.0.3
info:
  title: Doters Loyalty API
  description: API de gestión de puntos, recompensas y niveles de lealtad para socios Doters.
  version: 2.4.0
servers:
  - url: https://api.doters.com/v2
    description: Servidor de Producción
paths:
  /members/{memberId}:
    get:
      summary: Obtiene el perfil del socio
      description: Retorna información detallada del socio Doters, incluyendo balance de puntos y nivel actual.
      operationId: getMemberProfile
      tags:
        - Members
      parameters:
        - $ref: '#/components/parameters/MemberIdParam'
      responses:
        '200':
          description: Socio encontrado exitosamente
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MemberProfile'
        '404':
          description: Socio no encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /members/{memberId}/points/accrue:
    post:
      summary: Acumulación de puntos Doters
      description: Registra una transacción de acumulación de puntos por compras en aerolínea o aliados.
      operationId: accruePoints
      tags:
        - Points
      parameters:
        - $ref: '#/components/parameters/MemberIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccrualRequest'
      responses:
        '201':
          description: Puntos acumulados correctamente
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionResult'
        '400':
          description: Datos de transacción inválidos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  parameters:
    MemberIdParam:
      name: memberId
      in: path
      required: true
      description: Identificador único del socio Doters
      schema:
        type: string
        example: DOT-982341
  schemas:
    MemberProfile:
      type: object
      required:
        - memberId
        - email
        - tier
        - pointsBalance
      properties:
        memberId:
          type: string
          description: ID único de membresía
        email:
          type: string
          format: email
          description: Correo electrónico registrado
        tier:
          $ref: '#/components/schemas/TierLevel'
        pointsBalance:
          type: integer
          description: Total de puntos disponibles para canje
          example: 15400
        registeredAt:
          type: string
          format: date-time
    TierLevel:
      type: string
      enum: [Green, Silver, Gold, Platinum]
      description: Nivel de fidelidad dentro del programa Doters
    AccrualRequest:
      type: object
      required:
        - amountSpent
        - partnerId
        - referenceNumber
      properties:
        amountSpent:
          type: number
          format: float
          description: Monto total de la compra en MXN
          example: 2500.50
        partnerId:
          type: string
          description: Código del aliado comercial
          example: VIVA-MX
        referenceNumber:
          type: string
          description: Clave de reservación (PNR) o folio de ticket
          example: PNR-ABC123
    TransactionResult:
      type: object
      required:
        - transactionId
        - pointsEarned
        - newBalance
      properties:
        transactionId:
          type: string
          description: Folio único de la transacción de puntos
        pointsEarned:
          type: integer
          description: Puntos otorgados por la compra
        newBalance:
          type: integer
          description: Saldo actualizado de puntos del socio
    ErrorResponse:
      type: object
      required:
        - code
        - message
      properties:
        code:
          type: string
          description: Código de error de negocio
          example: MEMBER_NOT_FOUND
        message:
          type: string
          description: Descripción comprensible del error
